*~
O.*
*.swp
*BAK.adl
/bin/
/db/
/dbd/
/html/
/include/
/iocsh/
/lib/
/templates/
/iocs/acsMotionIOC/bin/
/iocs/acsMotionIOC/db/
/iocs/acsMotionIOC/dbd/
/iocs/acsMotionIOC/iocsh/
cdCommands
envPaths
dllPath.bat
auto_settings.sav*
auto_positions.sav*
.ccfxprepdir/
*.local
archive*
